body {
    background-color: #eee !important;
    font-family: 'Droid Sans' !important;
}

#send-message {
    margin: 53px 0 66px 0;
    font-family: 'Droid Sans';
    display: flex;
    align-content: center;
    justify-content: center;
}

.email input {
    display: flex;
}

.email {
    font-family: 'Droid Sans';
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.name input {
    display: flex;
}

.name form {
    margin-left: 21px;
}

.name {
    font-family: 'Droid Sans';
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message input {
    padding-left:
}

.message {
    font-family: 'Droid Sans';
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    /*align-items: center;*/
    justify-content: center;
}

.submit button {
    font-family: 'Droid Sans';
    background-color: #93E1D8;
    border: none;
    display: block;
    margin: 35px auto;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;

}

.wrap {
    font-family: 'Droid Sans' ;
    width: 450px;
    margin: 20px auto;
    background-color: #6D5959;
    border-radius: 10px;
    margin-bottom: 71px;
    padding: 1px;
}

.mat-label {
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    color: #e2e2e2;
    transition: all 0.5s;
}

.mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
}

.mat-div {
    padding: 30px 0 0 0;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}




.mat-div::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e2e2e2;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.mat-div::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e2e2e2;
    bottom: 0;
    left: 0;
    /*transition: all 0.5s;*/
}

.mat-div::after {
    background-color: black;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .mat-label {
    color: black;
}

.is-completed .mat-label {
    font-size: 12px;
    transform: translateY(0);
}
